:root {
  --rowspan: 1;
}
body > pf-page {
  display: block;
  margin: 0 auto;
  padding: 1em;
  min-width: 1024px;
}
body > pf-page > header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 1ex;
  grid-row-gap: 2em;
  align-items: end;
  justify-content: center;
  align-content: center;
  height: 192px;
  font-family: "Special Elite";
  font-weight: normal;
}
body > pf-page > header > img#logo {
  width: auto;
  height: 50px;
  justify-self: end;
}
body > pf-page > header > pf-text#siteTitle {
  font-size: 32px;
}
body > pf-page > header > nav#mainNav {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  font-family: "Raleway";
}
body > pf-page > header > nav#mainNav > a {
  display: block;
  margin: 0 1em;
}
body > pf-page > nav#secondaryNav,
body > pf-page > pf-list#nodeIndex,
body > pf-page > article#content {
  transition: opacity 0.5s;
}
body > pf-page[data-type="H"] > nav#secondaryNav,
body > pf-page[data-type="D"] > nav#secondaryNav {
  display: flex;
  justify-content: center;
  font-family: "Cinzel";
  font-weight: bold;
  border: 1px solid var(--base-shade2);
  border-left: none;
  border-right: none;
}
body > pf-page[data-type="H"] > nav#secondaryNav > a,
body > pf-page[data-type="D"] > nav#secondaryNav > a {
  display: block;
  padding: 0.5ex 2em;
}
body > pf-page[data-type="H"] > nav#secondaryNav > a.actived,
body > pf-page[data-type="D"] > nav#secondaryNav > a.actived {
  background: radial-gradient(50% 100%, var(--accent), transparent);
}
body > pf-page[data-type="H"] > pf-list#nodeIndex,
body > pf-page[data-type="D"] > pf-list#nodeIndex {
  margin: 1em 0 2em;
}
body > pf-page[data-type="H"] > pf-list#nodeIndex > pf-viewport,
body > pf-page[data-type="D"] > pf-list#nodeIndex > pf-viewport {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: var(--grid-gap);
  grid-column-gap: var(--grid-column-gap);
  grid-auto-flow: row dense;
  align-items: start;
}
body > pf-page[data-type="H"] > pf-list#nodeIndex > pf-viewport > article,
body > pf-page[data-type="D"] > pf-list#nodeIndex > pf-viewport > article {
  margin-bottom: 1em;
  grid-row: span var(--spanrow);
}
body > pf-page[data-type="H"] > pf-list#nodeIndex > pf-viewport > article[data-type="F"],
body > pf-page[data-type="D"] > pf-list#nodeIndex > pf-viewport > article[data-type="F"] {
  border-top: 1px dashed var(--base-shade2);
}
body > pf-page[data-type="H"] > pf-list#nodeIndex > pf-viewport > article[data-type="D"],
body > pf-page[data-type="D"] > pf-list#nodeIndex > pf-viewport > article[data-type="D"] {
  padding: 1ex;
  background: var(--base-shade3);
}
body > pf-page[data-type="H"] > pf-list#nodeIndex > pf-viewport > article > header,
body > pf-page[data-type="D"] > pf-list#nodeIndex > pf-viewport > article > header {
  margin: 0;
  font-size: var(--large-font-size);
}
body > pf-page[data-type="H"] > pf-list#nodeIndex > pf-viewport > article > pf-content#content,
body > pf-page[data-type="D"] > pf-list#nodeIndex > pf-viewport > article > pf-content#content {
  margin: 0;
}
body > pf-page[data-type="H"] > pf-list#nodeIndex > pf-viewport > article > pf-content#content p,
body > pf-page[data-type="D"] > pf-list#nodeIndex > pf-viewport > article > pf-content#content p {
  margin: 1ex 0;
}
body > pf-page[data-type="H"] {
  display: grid;
}
body > pf-page[data-type="H"] > header {
  order: 0;
}
body > pf-page[data-type="H"] > nav#secondaryNav {
  order: 1;
}
body > pf-page[data-type="H"] > article#content {
  order: 2;
}
body > pf-page[data-type="H"] > article#content > header {
  display: none;
}
body > pf-page[data-type="H"] > pf-list#nodeIndex {
  order: 3;
}
body > pf-page[data-type="H"] > footer {
  order: 4;
}
body > pf-page[data-type="D"] {
  /*> pf-list#nodeIndex > pf-viewport {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(var(--cell-width), 1fr));
            grid-row-gap: var(--grid-gap);
            grid-column-gap: var(--grid-column-gap);
            margin: 1em 0 2em;
            > article {
                grid-row: span var(--spanrow);
                border-top: 1px dashed var(--base-shade2);

                > header {
                    margin: 0;
                    font-size: var(--large-font-size);
                }
            }
        }*/
}
body > pf-page[data-type="D"] > article#content {
  display: none;
}
body > pf-page[data-type="C"] {
  display: grid;
  grid-template-columns: 1fr 794px 1fr;
  grid-template-rows: auto auto auto;
  grid-column-gap: 0;
}
body > pf-page[data-type="C"] > header {
  grid-area: 1/1/1/4;
}
body > pf-page[data-type="C"] > nav#secondaryNav {
  grid-area: 2/1/2/2;
  padding-top: 3em;
}
body > pf-page[data-type="C"] > nav#secondaryNav > a {
  display: block;
  padding: 1ex 1em;
  margin: 1ex 0;
  font-family: "Cinzel", "ZCOOL XiaoWei";
  font-size: var(--large-font-size);
  text-align: center;
}
body > pf-page[data-type="C"] > nav#secondaryNav > a.actived {
  background: linear-gradient(-90deg, var(--accent), transparent);
  color: var(--accent-text);
  font-weight: bold;
}
body > pf-page[data-type="C"] > pf-list#nodeIndex {
  grid-area: 2/3/2/4;
  padding: 3em 1em;
  font-family: "Cinzel", "ZCOOL XiaoWei";
}
body > pf-page[data-type="C"] > pf-list#nodeIndex > pf-viewport > article {
  margin: 1ex 0;
}
body > pf-page[data-type="C"] > pf-list#nodeIndex > pf-viewport > article > header {
  padding: 0;
  margin: 0;
  font-size: var(--base-font-size);
}
body > pf-page[data-type="C"] > pf-list#nodeIndex > pf-viewport > article > pf-content {
  font-size: var(--small-font-size);
  margin: 1ex 0 0;
}
body > pf-page[data-type="C"] > pf-list#nodeIndex > pf-viewport > article > pf-content * {
  margin: 0;
}
body > pf-page[data-type="C"] > article#content {
  grid-area: 2/2/2/3;
  min-height: 750px;
  padding: 2em 2em 3em;
  border: solid var(--base-shade2);
  border-width: 1px 3px 3px 1px;
  border-radius: 10px;
  background: var(--base);
}
body > pf-page[data-type="C"] > article#content > header {
  margin-top: 0;
}
body > pf-page[data-type="C"] > footer {
  grid-area: 3/1/3/4;
  padding: 3em 0;
}
body > pf-page > footer {
  margin: 5em 0;
  font-family: "Raleway";
  font-weight: bold;
  font-size: var(--small-font-size);
  text-align: center;
}
