<pf-package>
    <script data-fn="load" data-args="relPath, nextLoad">
        nextLoad();
    </script>

    <pf-body data-ft="cms::default::framework" data-connected data-fns="body::root" data-tagName="body">
        <cms-style data-fn="style_framework" data-backtrack></cms-style>
        <cms-style data-fn="style_page" data-backtrack></cms-style>
        <cms-style data-fn="style_colorScheme" data-backtrack></cms-style>

        <pf-data data-fn="pageDecor" data-array>
            <div class="decor d-main" data-fplc data-stal></div>
            <div class="decor d-left" data-fplc data-stal></div>
            <div class="decor d-lefttop" data-fplc data-stal></div>
            <div class="decor d-top" data-fplc data-stal></div>
            <div class="decor d-righttop" data-fplc data-stal></div>
            <div class="decor d-right" data-fplc data-stal></div>
            <div class="decor d-rightbottom" data-fplc data-stal></div>
            <div class="decor d-bottom" data-fplc data-stal></div>
            <div class="decor d-leftbottom" data-fplc data-stal></div>
            <div class="decor d-0" data-fplc data-stal></div>
            <div class="decor d-1" data-fplc data-stal></div>
            <div class="decor d-2" data-fplc data-stal></div>
            <div class="decor d-3" data-fplc data-stal></div>
            <div class="decor d-4" data-fplc data-stal></div>
        </pf-data>

        <pf-page data-fn="page">
            <header data-fw="true">
                <!-- <cms-img id="logo" src="/site/logo"></cms-img> -->
                <cms-img-div id="logo" data-backtrack data-fallbacklogo></cms-img-div>
                <cms-site-title id="siteTitle"></cms-site-title>
                <cms-nav id="mainNav" data-path="/"></cms-nav>
            </header>

            <div id="navWrap" data-fw="true">
                <cms-path id="path"></cms-path>
                <cms-dir-nav id="secondaryNav"></cms-dir-nav>
            </div>

            <cms-index id="nodeIndex" data-dir-ref="desc"></cms-index>

            <cms-node id="content" data-dir-ref="index"></cms-node>

            <cms-plugins-container data-fn="pluginsContainer"></cms-plugins-container>

            <footer>BGMRPC - BGCMS - BGPF</footer>
        </pf-page>

        <script data-fn="openNode" data-args="node">
            $(document).scrollTop(0);

            this.$.removeClass("style_framework_actived");
            this.$.removeClass("style_page_actived");
            this.$.removeClass("style_colorscheme_actived");

            if (node.id == CMS.__DATA__.config.homePath) {
                this.page.$.attr('data-type', 'H');
                this.page.nodeIndex.$.addClass('flow-grid');
            } else if (node.type == 'D') {
                this.page.$.attr('data-type', 'D');
                this.page.nodeIndex.$.addClass('flow-grid');
            } else {
                this.page.$.attr('data-type', 'C');
                this.page.nodeIndex.$.removeClass("flow-grid");
            }

            CMSCONN.emit("currentNodeChanged", node);
            /*CMS.node(path).then((node) => {
                CMS.__DATA__.currentNode = node;
                if (CMS.__DATA__.currentNode.id == CMS.__DATA__.config.homePath) {
                    this.page.$.attr('data-type', 'H');
                    this.page.nodeIndex.$.addClass("flow-grid");
                    return Promise.resolve(CMS.__DATA__.rootNode);
                } else if (CMS.__DATA__.currentNode.type == 'D') {
                    this.page.$.attr('data-type', "D");
                    this.page.nodeIndex.$.addClass("flow-grid");
                    return Promise.resolve(CMS.__DATA__.currentNode);
                } else {
                    this.page.$.attr('data-type', "C");
                    this.page.nodeIndex.$.removeClass("flow-grid");
                    return CMS.node(CMS.__DATA__.currentNode.pid);
                }
            }).then((node) => {
                if (CMS.__DATA__.currentDirID != node.id)
                    CMS.__DATA__.currentDirID = node.id;
                if (CMS.__DATA__.parentDirID != node.pid)
                    CMS.__DATA__.parentDirID = node.pid;

                CMSCONN.emit("currentNodeChanged", node);
            });*/

        </script>

        <script data-fn="constructor">
            for (let x = this.__DATA__.pageDecor.length - 1; x >= 0; x--)
                this.__DATA__.pageDecor[x].prepend(this.page);

            /*this.style.load("/site/style/default").then(null, () => {
                    this.style.$.replaceWith('<link rel="stylesheet" href="cms/Components/defaultFramework.css">');
                });*/

            RPCCONN.on("connected", () => {
                this.$.attr("data-connected", "");
            });
            RPCCONN.on("disconnected", () => {
                this.$.removeAttr("data-connected");
            });


            var waitLoadStyle = (styleObj, sPath, actived) => {
                CMSCONN.on("currentNodeChanged", () => {
                    styleObj.backtrackLoad(sPath).then(() => {
                        return Promise.resolve();
                    }, () => {
                        return Promise.resolve();
                    }).then(() => {
                        this.$.addClass(actived);
                        CMSCONN.emit("styleLoaded", actived);
                    });
                }, styleObj);
            }

            waitLoadStyle(this.style_framework, "site/style/framework", "style_framework_actived");
            waitLoadStyle(this.style_page, "site/style/page", "style_page_actived");
            waitLoadStyle(this.style_colorScheme, "site/style/colorScheme", "style_colorscheme_actived");

            CMSCONN.on("currentNodeChanged", () => {
                this.page.logo.load("site/logo");
            }, this.page.logo);

            CMSCONN.on("currentNodeChanged", () => {
                this.page.path.$.css("display", "none");
                this.page.path.load(CMS.__DATA__.current.dirID).then(() => {
                    this.page.path.$.css("display", "");
                });
            }, this.page.path);

            CMSCONN.on("currentNodeChanged", () => {
                if (this.page.secondaryNav.__DATA__.listNode != CMS.__DATA__.current.parentDirID) {
                    this.page.secondaryNav.$.css("display", "none");
                    this.page.secondaryNav.load(CMS.__DATA__.current.parentDirID).then(() => {
                        this.page.secondaryNav.activate(CMS.__DATA__.current.dirID);
                        this.page.secondaryNav.$.css("display", "");
                    });
                } else
                    this.page.secondaryNav.activate(CMS.__DATA__.current.dirID);
            }, this.page.secondaryNav);

            CMSCONN.on("currentNodeChanged", () => {
                this.page.nodeIndex.$.css("display", "none");
                (CMS.__DATA__.current.dirID === CMS.__DATA__.rootNode.id
                    ? this.page.nodeIndex.search({
                        "limit": { "count": 25 },
                        "type": "F"
                    })
                    : this.page.nodeIndex.load(CMS.__DATA__.current.dirID)).then(() => {
                        this.page.nodeIndex.$.css("display", "");
                    });
            }, this.page.nodeIndex);

            CMSCONN.on("currentNodeChanged", (node) => {
                this.page.content.$.css("display", "none");
                this.page.content.load(node).then(() => {
                    this.page.content.$.css("display", "");
                });
            }, this.page.content);

            CMSCONN.on("currentNodeChanged", () => {
                this.page.pluginsContainer.$.css("display", "none");
                this.page.pluginsContainer.load().then(() => {
                    this.page.pluginsContainer.$.css("display", "");
                });
            }, this.page.pluginsContainer);
        </script>
    </pf-body>

</pf-package>

