<pf-package>
    <script data-fn="load" data-args="relPath, nextLoad">
        nextLoad();
    </script>

    <cms-node data-ft="cms::list::node" data-overloaded-prefix="cms_list_node">
        <script data-fn="constructor">
            /* 替换header原本的text()函数*/
            this.header.text = (text) => {
                if (text !== undefined) {
                    var a = $('<a href="javascript:;">' + text + '</a>');
                    this.header.$.html(a);
                    a.click(() => {
                        this.toNS("listRoot").LISTCONN.emit("click", [this.node, this]);
                    });
                }

                return this.header.$.text();
            }

            if (!this.noContent) {
                this.content.html = (html) => {
                    if (this.node.type == "R"
                        && [
                            "jpg", "png", "gif"
                        ].indexOf(this.node.contentType) >= 0) {
                        var a = $('<a href="javascript:;">' + html + '</a>');
                        this.content.$.html(a);
                        a.click(() => {
                            this.toNS("listRoot").LISTCONN.emit("click",
                                [this.node, this]);
                        });
                    } else
                        this.content.$.html(html);
                }
            }

            // this.cms_node_constructor();
            this.superTmpl("cms::node").constructor.call(this);

            var listRoot = this.toNS("listRoot");
            this.summary = true;
            this.noContent = listRoot.onlyTitle;
            this.noTitle = false;
            this.dirRef = listRoot.dirRef;
        </script>
    </cms-node>

    <a data-ft="cms::list::imgNode" href="javascript:;" data-overloaded-prefix="cms_list_imgNode">
        <pf-extend data-fr="cms::node::loadContent"></pf-extend>

        <script data-fn="constructor">
            this.initial(undefined, this);
            this.$.click(() => {
                this.toNS("listRoot").LISTCONN.emit("click", [this.node, this]);
            });
        </script>
    </a>

    <pf-list data-ft="cms::list"
             class="cms"
             data-item-tmpl="cms::list::node"
             data-img-item-tmpl="cms::list::imgNode"
             data-overloaded-prefix="cms_list"
             data-fra="cms-list">
        <pf-extend data-fr="BGTmpls::flowGridObserver"></pf-extend>
        <pf-connections id="LISTCONN" data-prepend></pf-connections>

        <script data-fn="addItem" data-args="itemData, append">
            if (["jpg", "png", "gif"].indexOf(itemData.contentType) >= 0)
                this.itemTmpl = this.toNS("listRoot").$.attr("data-img-item-tmpl");
            else
                this.itemTmpl = this.defaultItemTmpl;

            // var itemObj = this.list_addItem(itemData, append);
            var itemObj = this.superTmpl("BGTmpls::list").addItem.call(this, itemData, append);
            this.observe(itemObj);
            return itemObj;
        </script>

        <script data-fn="load" data-args="path, query, forceCalcGridCellHeight">
            if (this.queryType != undefined) {
                if (query == undefined)
                    query = {}

                query["type"] = this.queryType;
            }

            if (this.listNode == path) {
                if (forceCalcGridCellHeight) {
                    for (var x in this.items) {
                        if (this.items[x].content)
                            this.items[x].content.$.trigger("contentGenerated");
                    }
                }
                return Promise.resolve();
            } else {
                this.listNode = -1;
                return CMS.list(path, query).then((ret) => {
                    this.listNode = ret.id;
                    //this.list_load(ret.list);
                    this.superTmpl("BGTmpls::list").load.call(this, ret.list);
                }, (ret) => { console.log("error", ret); });
            }
        </script>

        <script data-fn="search" data-args="query">
            if (this.queryType != undefined) {
                if (query == undefined)
                    query = {}

                query["type"] = this.queryType;
            }

            this.listNode = -1;
            return CMS.search(query).then((ret) => {
                //this.list_load(ret.list);
                this.superTmpl("BGTmpls::list").load.call(this, ret.list);
            }, (ret) => { console.log("error", ret); });
        </script>

        <script data-fn="constructor">
            //this.list_constructor();
            this.superTmpl("BGTmpls::list").constructor.call(this);
            this.defaultItemTmpl = this.itemTmpl;
            this.listNode = -1;

            var onlyFile = this.$.attr("data-onlyfile") != undefined;
            var onlyDir = this.$.attr("data-onlydir") != undefined;
            this.queryType = onlyFile != onlyDir
                ? (onlyFile ? "F" : "D")
                : undefined;

            this.onlyTitle = this.$.attr("data-onlytitle") != undefined;
            this.dirRef = this.$.attr("data-dir-ref");

            /*this.gridGap = Number(this.$.attr("data-grid-gap") || 10);
            this.$.css("--grid-gap", this.gridGap + 'px');
            this.gridColumnGap = Number(this.$.attr("data-grid-column-gap") || this.gridGap);
            this.$.css("--grid-column-gap", this.gridColumnGap + 'px');

            this.gridCellWidth = Number(this.$.attr("data-grid-cellwidth") || 300);
            this.$.css("--cell-width", this.gridCellWidth + 'px');

            this.gridCellHeight = Number(this.$.attr("data-grid-cellheight") || 20);
            this.$.css("--cell-height", this.gridCellHeight + 'px');*/

            var node = this.$.attr("data-node");
            if (node != undefined)
                this.load(node);

            /*var findIndex = (id) => {
                return this.items.findIndex((item) => {
                    if (item.node.id == id)
                        return true;
                    else
                        return false;
                });
            }*/
            var fiCB = (item, id) => {
                return item.node.id == id;
            }

            CMSCONN.on("nodeCreated", (args) => {
                var newNode = args[0].node;
                if (newNode.pid == this.listNode
                    && (this.queryType == undefined
                        || this.queryType == newNode.type
                        || (this.queryType == 'F' && newNode.type == 'R'))) {
                    this.append(newNode);
                }
            }, this);

            CMSCONN.on("nodeRemoved", (args) => {
                var rmID = args[0];
                var rmIndex = this.findIndex(fiCB, rmID);//findIndex(rmID);
                if (rmIndex >= 0)
                    this.removeItem(rmIndex);
            }, this);

            CMSCONN.on("nodeMoved", (args) => {
                var rmID = args[0].id;
                var toNode = args[1];

                var rmIndex = this.findIndex(fiCB, rmID);//findIndex(rmID);
                if (rmIndex >= 0)
                    this.removeItem(rmIndex);

                if (args[1] == this.listNode) {
                    var moveNode = args[0].node;
                    if (this.queryType == undefined
                        || this.queryType == movedNode.type
                        || (this.queryType == 'F' && movedNode.type == 'R'))
                        this.append(movedNode);
                }
            }, this);

            CMSCONN.on("nodeCopied", (args) => {
                var newNode = args[0].node;
                if (newNode.pid == this.listNode
                    && (this.queryType == undefined
                        || this.queryType == newNode.type
                        || (this.queryType == 'F' && newNode.type == 'R')))
                    this.append(newNode);
            }, this);

            this.LISTCONN.on("click", (args) => {
                CMS.open(args[0].id);
            });
        </script>
    </pf-list>

    <cms-index-node data-ft="cms::index::node" data-fr="cms::list::node">
        <cms-style data-fn="indexNodeStyle" data-prepend></cms-style>
        <cms-style data-fn="colorScheme" data-prepend></cms-style>

        <script data-fn="load" data-args="item">
            //return this.cms_list_node_load(item).then(() => {
            return this.superTmpl("cms::list::node").load.call(this, item).then(() => {
                this.$.attr("data-node-id", this.node.id);
                this.indexNodeStyle.setOptions({
                    modifyVars: {
                        '@indexNode': '"' + this.node.id + '"'
                    }
                });
                this.indexNodeStyle.load("site/style/indexListItem",
                    this.node.id);

                this.colorScheme.setOptions({
                    modifyVars: {
                        '@indexNode': '"' + this.node.id + '"'
                    }
                });
                this.colorScheme.load("site/style/colorScheme",
                    this.node.id);
            }, (ret) => { this.$.attr("data-node-id", -2); });
        </script>

        <script data-fn="constructor">
            //this.cms_list_node_constructor();
            this.superTmpl("cms::list::node").constructor.call(this);
        </script>
    </cms-index-node>

    <cms-list class="index" data-ft="cms::index"
                            data-dir-ref="desc"
                            data-fra="cms-index"
                            data-item-tmpl="cms::index::node"></cms-list>

    <cms-node data-ft="cms::switch::list::item"
              data-fr="cms::list::node"
              data-overloaded-prefix="cms_switch_list_item">
        <script data-fn="constructor">
            // this.cms_list_node_constructor();
            this.superTmpl("cms::list::node").constructor.call(this);

            this.toNS("listRoot").LISTCONN.on("switch", () => {
                var listRoot = this.toNS('listRoot');
                this.summary = listRoot.summary;
                this.dirRef = listRoot.dirRef;
                this.load(this.node);
            });
        </script>
    </cms-node>

    <cms-list data-ft="cms::switch::list"
              data-item-tmpl="cms::switch::list::item"
              data-fra="cms-switch-list">
        <script data-fn="switch" data-args="useDirRef">
            if (this.useDirRef != useDirRef) {
                this.useDirRef = useDirRef;
                this.dirRef = this.useDirRef ? this.origDirRef : undefined;
                this.summary = !this.useDirRef;

                this.LISTCONN.emit("switch", []);
            }
        </script>

        <script data-fn="constructor">
            //this.cms_list_constructor();
            this.superTmpl("cms::list").constructor.call(this);
            this.origDirRef = this.dirRef;
            this.useDirRef = false;
        </script>
    </cms-list>
</pf-package>

