<pf-package>
    <script data-fn="load" data-args="relPath, nextLoad">
        nextLoad();
    </script>

    <cms-node data-ft="cms::list::node" data-overloaded-prefix="cms_list_node">
        <pf-data data-fn="LC::opt" data-object data-modified>
            <pf-data data-fn="summary" data-bool>true</pf-data>
        </pf-data>
        <pf-data data-fn="opt" data-object data-modified>
            <pf-data data-fn="noTitle" data-bool>false</pf-data>
        </pf-data>
        <script data-fn="constructor">
            var listRoot = this.toNS("listRoot");
            this.__DATA__.opt.noContent = listRoot.__DATA__.opt.onlyTitle;
            this.__DATA__["LC::opt"].dirRef = listRoot.__DATA__.opt.dirRef;

            /* 替换header原本的text()函数*/
            this.header.text = (text) => {
                if (text !== undefined) {
                    var a = $('<a href="javascript:;">' + text + '</a>');
                    this.header.$.html(a);
                    a.click(() => {
                        this.toNS("listRoot").LISTCONN.emit("click", [this.__DATA__.node, this]);
                    });
                }

                return this.header.$.text();
            }

            if (!this.__DATA__.opt.noContent) {
                this.content.html = (html) => {
                    if (this.__DATA__.node.type == "R"
                        && [
                            "jpg", "png", "gif"
                        ].indexOf(this.__DATA__.node.contentType) >= 0) {
                        var a = $('<a href="javascript:;">' + html + '</a>');
                        this.content.$.html(a);
                        a.click(() => {
                            this.toNS("listRoot").LISTCONN.emit("click",
                                [this.__DATA__.node, this]);
                        });
                    } else
                        this.content.$.html(html);
                }
            }

            // this.cms_node_constructor();
            this.superTmpl("cms::node").constructor.call(this);
        </script>
    </cms-node>

    <a data-ft="cms::list::imgNode" href="javascript:;" data-overloaded-prefix="cms_list_imgNode">
        <pf-extend data-fr="cms::node::loadContent"></pf-extend>

        <script data-fn="constructor">
            this.initial(undefined, this);
            this.$.click(() => {
                this.toNS("listRoot").LISTCONN.emit("click", [this.__DATA__.node, this]);
            });
        </script>
    </a>

    <pf-list data-ft="cms::list"
             class="cms"
             data-item-tmpl="cms::list::node"
             data-overloaded-prefix="cms_list"
             data-fra="cms-list">
        <pf-extend data-fr="BGTmpls::flowGridObserver"></pf-extend>
        <pf-connections id="LISTCONN" data-prepend></pf-connections>

        <pf-data data-fn="opt" data-object data-modified>
            <pf-data data-fn="defaultItemTmpl" data-js><script>
                    return this.__DATA__.opt.itemTmpl;
            </script></pf-data>
            <pf-data data-fn="imgItemTmpl" data-js><script>
                    return this.$.attr("data-img-item-tmpl") || "cms::list::imgNode";
            </script></pf-data>
            <pf-data data-fn="queryType" data-js><script>
                    var onlyFile = this.$.attr("data-onlyfile") !== undefined;
                    var onlyDir = this.$.attr("data-onlydir") !== undefined;
                    return onlyFile !== onlyDir ? (onlyFile ? "F" : "D") : undefined;
            </script></pf-data>
            <pf-data data-fn="onlyTitle" data-js><script>
                    return this.$.attr("data-onlytitle") !== undefined;
            </script></pf-data>
            <pf-data data-fn="dirRef" data-js><script>
                    return this.$.attr("data-dir-ref");
            </script></pf-data>
        </pf-data>

        <pf-data data-fn="listNode" data-number>-1</pf-data>

        <script data-fn="addItem" data-args="itemData, append">
            if (["jpg", "png", "gif"].includes(itemData.contentType))
                this.__DATA__.opt.itemTmpl = this.__DATA__.opt.imgItemTmpl;
            else
                this.__DATA__.opt.itemTmpl = this.__DATA__.opt.defaultItemTmpl;

            var itemObj = this.superTmpl("BGTmpls::list").addItem.call(this, itemData, append);
            this.observe(itemObj);
            return itemObj;
        </script>

        <script data-fn="load" data-args="path, query, forceCalcGridCellHeight">
            if (this.__DATA__.opt.queryType != undefined) {
                if (query == undefined)
                    query = {}

                query["type"] = this.__DATA__.opt.queryType;
            }

            if (this.__DATA__.listNode == path) {
                /*if (forceCalcGridCellHeight) {
                    for (var x in this.__DATA__.items) {
                        if (this.__DATA__.items[x].content)
                            this.__DATA__.items[x].content.$.trigger("contentGenerated");
                    }
                }*/
                return Promise.resolve();
            } else {
                this.__DATA__.listNode = -1;
                return CMS.list(path, query).then((ret) => {
                    this.__DATA__.listNode = ret.id;
                    this.superTmpl("BGTmpls::list").load.call(this, ret.list);
                }, (ret) => { console.log("error", ret); });
            }
        </script>

        <script data-fn="search" data-args="query">
            if (this.__DATA__.opt.queryType != undefined) {
                if (query == undefined)
                    query = {}

                query["type"] = this.__DATA__.opt.queryType;
            }

            this.__DATA__.listNode = -1;
            return CMS.search(query).then((ret) => {
                this.superTmpl("BGTmpls::list").load.call(this, ret.list);
            }, (ret) => { console.log("error", ret); });
        </script>

        <script data-fn="constructor">
            this.superTmpl("BGTmpls::list").constructor.call(this);

            var node = this.$.attr("data-node");
            if (node != undefined)
                this.load(node);

            var fiCB = (item, id) => {
                return item.node.id == id;
            }

            CMSCONN.on("nodeCreated", (args) => {
                var newNode = args[0].node;
                if (newNode.pid == this.__DATA__.listNode
                    && (this.__DATA__.opt.queryType == undefined
                        || this.__DATA__.opt.queryType == newNode.type
                        || (this.__DATA__.opt.queryType == 'F' && newNode.type == 'R'))) {
                    this.append(newNode);
                }
            }, this);

            CMSCONN.on("nodeRemoved", (args) => {
                var rmID = args[0];
                var rmIndex = this.findIndex(fiCB, rmID);//findIndex(rmID);
                if (rmIndex >= 0)
                    this.removeItem(rmIndex);
            }, this);

            CMSCONN.on("nodeMoved", (args) => {
                var rmID = args[0].id;
                var toNode = args[1];

                var rmIndex = this.findIndex(fiCB, rmID);//findIndex(rmID);
                if (rmIndex >= 0)
                    this.removeItem(rmIndex);

                if (args[1] == this.__DATA__.listNode) {
                    var moveNode = args[0].node;
                    if (this.__DATA__.opt.queryType == undefined
                        || this.__DATA__.opt.queryType == movedNode.type
                        || (this.__DATA__.opt.queryType == 'F' && movedNode.type == 'R'))
                        this.append(movedNode);
                }
            }, this);

            CMSCONN.on("nodeCopied", (args) => {
                var newNode = args[0].node;
                if (newNode.pid == this.__DATA__.listNode
                    && (this.__DATA__.opt.queryType == undefined
                        || this.__DATA__.opt.queryType == newNode.type
                        || (this.__DATA__.opt.queryType == 'F' && newNode.type == 'R')))
                    this.append(newNode);
            }, this);

            this.LISTCONN.on("click", (args) => {
                CMS.open(args[0].id);
            });
        </script>
    </pf-list>

    <cms-index-node data-ft="cms::index::node" data-fr="cms::list::node">
        <cms-style data-fn="indexNodeStyle" data-prepend></cms-style>
        <cms-style data-fn="colorScheme" data-prepend></cms-style>

        <script data-fn="load" data-args="item">
            return this.superTmpl("cms::list::node").load.call(this, item).then(() => {
                this.$.attr("data-node-id", this.__DATA__.node.id);
                this.indexNodeStyle.setOptions({
                    modifyVars: {
                        '@indexNode': '"' + this.__DATA__.node.id + '"'
                    }
                });
                this.indexNodeStyle.load("site/style/indexListItem",
                    this.__DATA__.node.id);

                this.colorScheme.setOptions({
                    modifyVars: {
                        '@indexNode': '"' + this.__DATA__.node.id + '"'
                    }
                });
                this.colorScheme.load("site/style/colorScheme",
                    this.__DATA__.node.id);
            }, (ret) => { this.$.attr("data-node-id", -2); });
        </script>

        <script data-fn="constructor">
            this.superTmpl("cms::list::node").constructor.call(this);
        </script>
    </cms-index-node>

    <cms-list class="index" data-ft="cms::index"
                            data-dir-ref="desc"
                            data-fra="cms-index"
                            data-item-tmpl="cms::index::node"></cms-list>

    <cms-node data-ft="cms::switch::list::item"
              data-fr="cms::list::node"
              data-overloaded-prefix="cms_switch_list_item">
        <script data-fn="constructor">
            this.superTmpl("cms::list::node").constructor.call(this);

            this.toNS("listRoot").LISTCONN.on("switch", () => {
                var listRoot = this.toNS('listRoot');
                this.__DATA__["LC::opt"].summary = listRoot.__DATA__.opt.summary;
                this.__DATA__["LC::opt"].dirRef = listRoot.__DATA__.opt.dirRef;
                this.load(this.__DATA__.node);
            });
        </script>
    </cms-node>

    <cms-list data-ft="cms::switch::list"
              data-item-tmpl="cms::switch::list::item"
              data-fra="cms-switch-list">
        <pf-data data-fn="opt" data-object data-modified>
            <pf-data data-fn="origDirRef" data-js><script>
                    return this.__DATA__.opt.dirRef;
            </script></pf-data>
            <pf-data data-fn="useDirRef" data-bool>false</pf-data>
        </pf-data>
        <script data-fn="switch" data-args="useDirRef">
            if (this.__DATA__.opt.useDirRef != useDirRef) {
                this.__DATA__.opt.useDirRef = useDirRef;
                this.__DATA__.opt.dirRef = this.__DATA__.opt.useDirRef ? this.__DATA__.opt.origDirRef : undefined;
                this.__DATA__.opt.summary = !this.__DATA__.opt.useDirRef;

                this.LISTCONN.emit("switch", []);
            }
        </script>

        <script data-fn="constructor">
            this.superTmpl("cms::list").constructor.call(this);
        </script>
    </cms-list>
</pf-package>

