<pf-package>
    <script data-fn="load" data-args="relPath, nextLoad">
        nextLoad();
    </script>

    <!-- style -->
    <cms-style-tmpl data-ft="cms::style"
                    data-style
                    data-fra="cms-style"
                    data-tagName="style">
        <pf-data data-fn="opt" data-object>
            <pf-data data-fn="less_options" data-object></pf-data>
            <pf-data data-fn="backtrack" data-js><script>
                    return this.$.attr("data-backtrack") !== undefined;
            </script></pf-data>
        </pf-data>
        <pf-data data-fn="stylePath" data-js><script>
                return this.$.attr("data-style");
        </script></pf-data>
        <pf-data data-fn="id"></pf-data>

        <script data-fn="load" data-args="path, basePath, requestUpdate">
            if (basePath == undefined)
                basePath = CMS.__DATA__.rootNode.id;

            return CMS.renderStyle(path, basePath, this.__DATA__.opt.less_options)
                .then((ret) => {
                    if (requestUpdate || this.__DATA__.id != ret.id) {
                        this.$.empty();
                        this.__DATA__.id = ret.id;
                        this.text(ret.css);
                    }
                }, (ret) => {
                    if (basePath == CMS.__DATA__.rootNode.id) {
                        this.__DATA__.id = undefined;
                        this.$.empty();
                        return Promise.reject(ret);
                    } else
                        return this.load(path);
                });
        </script>

        <script data-fn="backtrackLoad" data-args="path, basePath">
            return CMS.backtrackNode(basePath, path).then((ret) => {
                return this.load(ret.target.id);
            }, (ret) => {
                this.__DATA__.id = undefined;
                this.$.empty();
                return Promise.reject(ret);
            });
        </script>

        <script data-fn="setOptions" data-args="opt">
            this.__DATA__.opt.less_options = opt;
        </script>
        
        <script data-fn="constructor">
            this.__DATA__.opt.backtrack = this.$.attr("data-backtrack") != undefined;
            if (this.__DATA__.stylePath.length > 0)
                this.__DATA__.opt.backtrack ? this.backtrackLoad(this.__DATA__.stylePath) :
                this.load(this.__DATA__.stylePath);

            CMSCONN.on("contentUpdated", (args) => {
                if (args[0] == this.__DATA__.id)
                    this.load(this.__DATA__.id, undefined, true);
            }, this);
            /*CMSCONN.on("currentNodeChanged", () => {
                this.__DATA__.opt.backtrack ? this.backtrackLoad(this.__DATA__.stylePath) :
                this.load(this.__DATA__.stylePath);
            }, this);*/
        </script>
    </cms-style-tmpl> <!-- style end -->

    <header data-ft="cms::node::header"
            data-overloaded-prefix="cms_node_header"
            data-fra="cms-node-header"
            data-tagName="header">
        <pf-extend data-fr="cms::node::loadContent"></pf-extend>

        <pf-data data-fn="LC::opt" data-object data-b-summary="true"
                                               data-b-info="false" data-modified></pf-data>

        <script data-fn="constructor">
            this.initial(this, undefined);
        </script>
    </header>

    <pf-content data-ft="cms::node::content"
                data-overloaded-prefix="cms_node_content"
                data-fra="cms-node-content"
                data-tagName="pf-content">
        <pf-extend data-fr="cms::node::loadContent"></pf-extend>

        <pf-data data-fn="LC::opt" data-object data-modified>
            <pf-data data-fn="info" data-js><script>
                    return this.__DATA__["LC::opt"].summary;
            </script></pf-data>
        </pf-data>

        <script data-fn="constructor">
            this.initial(undefined, this);
        </script>
    </pf-content>

    <pf-content data-ft="cms::node::summary"
                data-overloaded-prefix="cms_node_summary"
                data-fra="cms-node-summary"
                data-tagName="pf-content">
        <pf-extend data-fr="cms::node::loadContent"></pf-extend>

        <pf-data data-fn="LC::opt" data-object data-b-summary="true"
                                           data-b-info="true" data-modified></pf-data>

        <script data-fn="constructor">
            this.initial(undefined, this);
        </script>
    </pf-content>

    <pf-article data-ft="cms::node"
                data-fns="nodeRoot"
                data-overloaded-prefix="cms_node"
                data-fra="cms-node">
        <pf-extend data-fr="cms::node::loadContent"></pf-extend>

        <pf-data data-fn="LC::opt" data-object data-modified>
            <pf-data data-fn="info" data-js><script>
                    return this.__DATA__["LC::opt"].summary;
            </script></pf-data>
        </pf-data>

        <pf-data data-fn="opt" data-object data-modified>
            <pf-data data-fn="noTitle" data-js><script>
                    return this.$.attr("data-notitle") !== undefined;
            </script></pf-data>
            <pf-data data-fn="noContent" data-js><script>
                    return this.$.attr("data-nocontent") !== undefined;
            </script></pf-data>
        </pf-data>
        <pf-data data-fn="nodeData" data-js><script>
                return this.$.attr("data-node");
        </script></pf-data>

        <script data-fn="constructor">
            this.initial(this.__DATA__.opt.noTitle ? undefined : this.header,
                         this.__DATA__.opt.noContent ? undefined : this.content);
            if (this.__DATA__.opt.noTitle)
                this.header.removeSelf();
            if (this.__DATA__.opt.noContent)
                this.content.removeSelf();

            if (this.__DATA__.nodeData != undefined)
                this.load(this.__DATA__.nodeData);
        </script>
    </pf-article>

</pf-package>
