@font-face {
    font-family: "Cabin Sketch";
    src: url("fonts/CabinSketch-Regular.ttf");
}

@font-face {
    font-family: "Cabin Sketch";
    src: url("/fonts/CabinSketch-Bold.ttf");
    font-weight:bold;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Special Elite";
    src: url("/fonts/SpecialElite.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url("/fonts/NanumMyeongjo-Regular.woff2");
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url("/fonts/NanumMyeongjo-ExtraBold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "XiYuan";
    src: url("/fonts/TXJLXiYuan.woff2");
}

@font-face {
    font-family: "ChaoXiYuan";
    src: url("/fonts/TXJLCHXiYuan.woff2");
}

@font-face {
    font-family: "GuYin";
    src: url("/fonts/QNHGDGuYin.woff2");
}

@font-face {
    font-family: "Source Han Serif CN";
    src: url("/fonts/SourceHanSerifCN-Regular.woff2");
}

@font-face {
    font-family: "Source Han Serif CN";
    src: url("/fonts/SourceHanSerifCN-Bold.woff2");
    font-weight: bold;
}

