@font-face {
    font-family: "Cabin Sketch";
    src: url("fonts/CabinSketch-Regular.ttf");
}

@font-face {
    font-family: "Cabin Sketch";
    src: url("/fonts/CabinSketch-Bold.ttf");
    font-weight:bold;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Special Elite";
    src: url("/fonts/SpecialElite.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cinzel";
    src: url("/fonts/Cinzel-Regular.ttf");
}

@font-face {
    font-family: "Cinzel";
    src: url("/fonts/Cinzel-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "ZCOOL XiaoWei";
    src: url("/fonts/ZCOOLXiaoWei-Regular.ttf");
}
