pf-text.inline {
  display: inline;
}
pf-text:not(.inline) {
  display: block;
}
pf-content,
.content,
article > pf-content {
  display: block;
  /*&:first-child {
        margin-top: 0;
    }
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }*/
  margin: 1em 0;
}
article > header {
  font-size: 220%;
  margin: 1em 0;
}
article > pf-content {
  /*a::after {
            display: inline-block;
            content: "🔗";
            font-size: 75%;
            vertical-align: sub;
        }*/
}
header {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 1.5em;
  margin-bottom: 1ex;
}
h1 {
  font-size: 160%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 100%;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 100%;
  font-style: italic;
}
h6 {
  font-size: 90%;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
a,
a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
}
a[href]:active {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
a[href]:hover {
  text-decoration-line: underline;
}
.container-base,
pf-container,
pf-card,
.card,
pf-swipe.hor,
pf-swipe:not(.ver),
pf-swipe.hor > nav#tabbar > pf-tab,
pf-swipe:not(.ver) > nav#tabbar > pf-tab,
pf-viewport,
pf-list,
pf-list > pf-viewport > pf-list-item,
pf-list > pf-viewport > * {
  display: block;
}
/*.container-padding {
    &.xx-narrow-padding { .padding(var(--xx-small-dist)) }
    &.x-narrow-padding { .padding(var(--x-small-dist)) }
    &.narrow-padding { .padding(var(--small-dist)) }
    &.normal-padding { .padding(var(--normal-dist)) }
    &.wide-padding { .padding(var(--large-dist)) }
    &.x-wide-padding { .padding(var(--x-large-dist)) }
    &.xx-wide-padding { .padding(var(--xx-large-dist)) }
}
.container-margin {
    &.xx-small-margin { .margin(var(--xx-small-dist))}
    &.x-small-margin { .margin(var(--x-small-dist)) }
    &.small-margin { .margin(var(--small-dist)) }
    &.normal-margin { .margin(var(--normal-dist)) }
    &.large-margin { .margin(var(--large-dist)) }
    &.x-large-margin { .margin(var(--x-large-dist)) }
    &.xx-large-margin { .margin(var(--xx-large-dist)) }
}*/
.xx-narrow-padding {
  padding: var(--xx-small-dist) calc(var(--xx-small-dist) * 1.5);
}
.xx-narrow-padding.h-p-zero,
pf-list.sep > pf-viewport pf-list-item,
pf-list.sep > pf-viewport > * {
  padding: var(--xx-small-dist) 0;
}
.xx-narrow-padding.v-p-zero {
  padding: 0 calc(var(--xx-small-dist) * 1.5);
}
.x-narrow-padding {
  padding: var(--x-small-dist) calc(var(--x-small-dist) * 1.5);
}
.x-narrow-padding.h-p-zero {
  padding: var(--x-small-dist) 0;
}
.x-narrow-padding.v-p-zero {
  padding: 0 calc(var(--x-small-dist) * 1.5);
}
.narrow-padding {
  padding: var(--small-dist) calc(var(--small-dist) * 1.5);
}
.narrow-padding.h-p-zero {
  padding: var(--small-dist) 0;
}
.narrow-padding.v-p-zero {
  padding: 0 calc(var(--small-dist) * 1.5);
}
.normal-padding {
  padding: var(--normal-dist) calc(var(--normal-dist) * 1.5);
}
.normal-padding.h-p-zero {
  padding: var(--normal-dist) 0;
}
.normal-padding.v-p-zero {
  padding: 0 calc(var(--normal-dist) * 1.5);
}
.wide-padding {
  padding: var(--large-dist) calc(var(--large-dist) * 1.5);
}
.wide-padding.h-p-zero {
  padding: var(--large-dist) 0;
}
.wide-padding.v-p-zero {
  padding: 0 calc(var(--large-dist) * 1.5);
}
.x-wide-padding {
  padding: var(--x-large-dist) calc(var(--x-large-dist) * 1.5);
}
.x-wide-padding.h-p-zero {
  padding: var(--x-large-dist) 0;
}
.x-wide-padding.v-p-zero {
  padding: 0 calc(var(--x-large-dist) * 1.5);
}
.xx-wide-padding {
  padding: var(--xx-large-dist) calc(var(--xx-large-dist) * 1.5);
}
.xx-wide-padding.h-p-zero {
  padding: var(--xx-large-dist) 0;
}
.xx-wide-padding.v-p-zero {
  padding: 0 calc(var(--xx-large-dist) * 1.5);
}
.xx-small-margin {
  margin: var(--xx-small-dist);
}
.xx-small-margin.h-m-zero {
  margin: var(--xx-small-dist) 0;
}
.xx-small-margin.v-m-zero {
  margin: 0 var(--xx-small-dist);
}
.x-small-margin {
  margin: var(--x-small-dist);
}
.x-small-margin.h-m-zero {
  margin: var(--x-small-dist) 0;
}
.x-small-margin.v-m-zero {
  margin: 0 var(--x-small-dist);
}
.small-margin {
  margin: var(--small-dist);
}
.small-margin.h-m-zero {
  margin: var(--small-dist) 0;
}
.small-margin.v-m-zero {
  margin: 0 var(--small-dist);
}
.normal-margin {
  margin: var(--normal-dist);
}
.normal-margin.h-m-zero {
  margin: var(--normal-dist) 0;
}
.normal-margin.v-m-zero {
  margin: 0 var(--normal-dist);
}
.large-margin {
  margin: var(--large-dist);
}
.large-margin.h-m-zero {
  margin: var(--large-dist) 0;
}
.large-margin.v-m-zero {
  margin: 0 var(--large-dist);
}
.x-large-margin {
  margin: var(--x-large-dist);
}
.x-large-margin.h-m-zero {
  margin: var(--x-large-dist) 0;
}
.x-large-margin.v-m-zero {
  margin: 0 var(--x-large-dist);
}
.xx-large-margin {
  margin: var(--xx-large-dist);
}
.xx-large-margin.h-m-zero {
  margin: var(--xx-large-dist) 0;
}
.xx-large-margin.v-m-zero {
  margin: 0 var(--xx-large-dist);
}
.container-color-scheme.base,
.base {
  background-color: var(--base);
  color: var(--base-text);
}
.container-color-scheme.primary,
.primary,
pf-card:not(.clean).primary > header,
.card:not(.clean).primary > header {
  background-color: var(--primary);
  color: var(--primary-text);
}
.container-color-scheme.accent,
.accent,
pf-card:not(.clean).accent > header,
.card:not(.clean).accent > header {
  background-color: var(--accent);
  color: var(--accent-text);
}
.container-color-scheme.base-shade1,
.base-shade1 {
  background-color: var(--base-shade1);
  color: var(--base-shade1-text);
}
.container-color-scheme.base-shade2,
.base-shade2 {
  background-color: var(--base-shade2);
  color: var(--base-shade2-text);
}
.container-color-scheme.base-shade3,
.base-shade3 {
  background-color: var(--base-shade3);
  color: var(--base-shade3-text);
}
pf-viewport {
  /* all*/
}
.card-shadow,
pf-card:not(.noshd),
.card:not(.noshd) {
  box-shadow: 0 0 1px 1px var(--shadow), 0 3px 7px -1px var(--shadow);
}
.large-shadow,
pf-card:not(.noshd).large-shadow,
.card:not(.noshd).large-shadow {
  box-shadow: 0 0 2px 2px var(--shadow), 0 3px 14px -1px var(--shadow);
}
pf-card,
.card {
  background-color: var(--base);
  color: var(--base-text);
  padding: 0;
}
pf-card > header,
.card > header {
  margin: 0;
}
pf-card > pf-content,
.card > pf-content,
pf-card > .content,
.card > .content {
  display: block;
  margin: 0;
}
pf-card.clean > header,
.card.clean > header,
pf-card.clean > pf-content,
.card.clean > pf-content,
pf-card.clean > .content,
.card.clean > .content {
  padding: 0;
}
pf-card.clean > header,
.card.clean > header {
  font-size: 120%;
}
pf-card.clean.xx-narrow-padding > pf-content,
.card.clean.xx-narrow-padding > pf-content,
pf-card.clean.xx-narrow-padding > .content,
.card.clean.xx-narrow-padding > .content {
  margin-top: 0;
}
pf-card.clean.x-narrow-padding > pf-content,
.card.clean.x-narrow-padding > pf-content,
pf-card.clean.x-narrow-padding > .content,
.card.clean.x-narrow-padding > .content {
  margin-top: var(--xx-small-dist);
}
pf-card.clean.narrow-padding > pf-content,
.card.clean.narrow-padding > pf-content,
pf-card.clean.narrow-padding > .content,
.card.clean.narrow-padding > .content {
  margin-top: var(--x-small-dist);
}
pf-card.clean.normal-padding > pf-content,
.card.clean.normal-padding > pf-content,
pf-card.clean.normal-padding > .content,
.card.clean.normal-padding > .content {
  margin-top: var(--small-dist);
}
pf-card.clean.wide-padding > pf-content,
.card.clean.wide-padding > pf-content,
pf-card.clean.wide-padding > .content,
.card.clean.wide-padding > .content {
  margin-top: var(--normal-dist);
}
pf-card.clean.x-wide-padding > pf-content,
.card.clean.x-wide-padding > pf-content,
pf-card.clean.x-wide-padding > .content,
.card.clean.x-wide-padding > .content {
  margin-top: var(--normal-dist);
}
pf-card.clean.xx-wide-padding > pf-content,
.card.clean.xx-wide-padding > pf-content,
pf-card.clean.xx-wide-padding > .content,
.card.clean.xx-wide-padding > .content {
  margin-top: var(--normal-dist);
}
pf-card:not(.clean),
.card:not(.clean) {
  padding: 0 !important;
  background-color: var(--base);
  color: var(--base-text);
}
pf-card:not(.clean) > header,
.card:not(.clean) > header {
  background-color: var(--base-shade1);
  color: var(--base-shade1-text);
}
pf-card:not(.clean) > header,
.card:not(.clean) > header {
  font-size: 100% !important;
}
pf-card:not(.clean).xx-narrow-padding > header,
.card:not(.clean).xx-narrow-padding > header {
  padding: var(--xx-small-dist) calc(var(--xx-small-dist) * 1.5);
}
pf-card:not(.clean).xx-narrow-padding > header.h-p-zero,
.card:not(.clean).xx-narrow-padding > header.h-p-zero {
  padding: var(--xx-small-dist) 0;
}
pf-card:not(.clean).xx-narrow-padding > header.v-p-zero,
.card:not(.clean).xx-narrow-padding > header.v-p-zero {
  padding: 0 calc(var(--xx-small-dist) * 1.5);
}
pf-card:not(.clean).xx-narrow-padding > pf-content,
.card:not(.clean).xx-narrow-padding > pf-content,
pf-card:not(.clean).xx-narrow-padding .content,
.card:not(.clean).xx-narrow-padding .content {
  padding: var(--xx-small-dist) calc(var(--xx-small-dist) * 1.5);
}
pf-card:not(.clean).xx-narrow-padding > pf-content.h-p-zero,
.card:not(.clean).xx-narrow-padding > pf-content.h-p-zero,
pf-card:not(.clean).xx-narrow-padding .content.h-p-zero,
.card:not(.clean).xx-narrow-padding .content.h-p-zero {
  padding: var(--xx-small-dist) 0;
}
pf-card:not(.clean).xx-narrow-padding > pf-content.v-p-zero,
.card:not(.clean).xx-narrow-padding > pf-content.v-p-zero,
pf-card:not(.clean).xx-narrow-padding .content.v-p-zero,
.card:not(.clean).xx-narrow-padding .content.v-p-zero {
  padding: 0 calc(var(--xx-small-dist) * 1.5);
}
pf-card:not(.clean).x-narrow-padding > header,
.card:not(.clean).x-narrow-padding > header {
  padding: var(--x-small-dist) calc(var(--x-small-dist) * 1.5);
}
pf-card:not(.clean).x-narrow-padding > header.h-p-zero,
.card:not(.clean).x-narrow-padding > header.h-p-zero {
  padding: var(--x-small-dist) 0;
}
pf-card:not(.clean).x-narrow-padding > header.v-p-zero,
.card:not(.clean).x-narrow-padding > header.v-p-zero {
  padding: 0 calc(var(--x-small-dist) * 1.5);
}
pf-card:not(.clean).x-narrow-padding > pf-content,
.card:not(.clean).x-narrow-padding > pf-content,
pf-card:not(.clean).x-narrow-padding .content,
.card:not(.clean).x-narrow-padding .content {
  padding: var(--x-small-dist) calc(var(--x-small-dist) * 1.5);
}
pf-card:not(.clean).x-narrow-padding > pf-content.h-p-zero,
.card:not(.clean).x-narrow-padding > pf-content.h-p-zero,
pf-card:not(.clean).x-narrow-padding .content.h-p-zero,
.card:not(.clean).x-narrow-padding .content.h-p-zero {
  padding: var(--x-small-dist) 0;
}
pf-card:not(.clean).x-narrow-padding > pf-content.v-p-zero,
.card:not(.clean).x-narrow-padding > pf-content.v-p-zero,
pf-card:not(.clean).x-narrow-padding .content.v-p-zero,
.card:not(.clean).x-narrow-padding .content.v-p-zero {
  padding: 0 calc(var(--x-small-dist) * 1.5);
}
pf-card:not(.clean).narrow-padding > header,
.card:not(.clean).narrow-padding > header {
  padding: var(--small-dist) calc(var(--small-dist) * 1.5);
}
pf-card:not(.clean).narrow-padding > header.h-p-zero,
.card:not(.clean).narrow-padding > header.h-p-zero {
  padding: var(--small-dist) 0;
}
pf-card:not(.clean).narrow-padding > header.v-p-zero,
.card:not(.clean).narrow-padding > header.v-p-zero {
  padding: 0 calc(var(--small-dist) * 1.5);
}
pf-card:not(.clean).narrow-padding > pf-content,
.card:not(.clean).narrow-padding > pf-content,
pf-card:not(.clean).narrow-padding .content,
.card:not(.clean).narrow-padding .content {
  padding: var(--small-dist) calc(var(--small-dist) * 1.5);
}
pf-card:not(.clean).narrow-padding > pf-content.h-p-zero,
.card:not(.clean).narrow-padding > pf-content.h-p-zero,
pf-card:not(.clean).narrow-padding .content.h-p-zero,
.card:not(.clean).narrow-padding .content.h-p-zero {
  padding: var(--small-dist) 0;
}
pf-card:not(.clean).narrow-padding > pf-content.v-p-zero,
.card:not(.clean).narrow-padding > pf-content.v-p-zero,
pf-card:not(.clean).narrow-padding .content.v-p-zero,
.card:not(.clean).narrow-padding .content.v-p-zero {
  padding: 0 calc(var(--small-dist) * 1.5);
}
pf-card:not(.clean).normal-padding > header,
.card:not(.clean).normal-padding > header,
pf-card > header,
.card > header {
  padding: var(--normal-dist) calc(var(--normal-dist) * 1.5);
}
pf-card:not(.clean).normal-padding > header.h-p-zero,
.card:not(.clean).normal-padding > header.h-p-zero,
pf-card > header.h-p-zero,
.card > header.h-p-zero {
  padding: var(--normal-dist) 0;
}
pf-card:not(.clean).normal-padding > header.v-p-zero,
.card:not(.clean).normal-padding > header.v-p-zero,
pf-card > header.v-p-zero,
.card > header.v-p-zero {
  padding: 0 calc(var(--normal-dist) * 1.5);
}
pf-card:not(.clean).normal-padding > pf-content,
.card:not(.clean).normal-padding > pf-content,
pf-card:not(.clean).normal-padding .content,
.card:not(.clean).normal-padding .content,
pf-card > pf-content,
pf-card .content,
.card > pf-content,
.card .content {
  padding: var(--normal-dist) calc(var(--normal-dist) * 1.5);
}
pf-card:not(.clean).normal-padding > pf-content.h-p-zero,
.card:not(.clean).normal-padding > pf-content.h-p-zero,
pf-card:not(.clean).normal-padding .content.h-p-zero,
.card:not(.clean).normal-padding .content.h-p-zero,
pf-card > pf-content.h-p-zero,
pf-card .content.h-p-zero,
.card > pf-content.h-p-zero,
.card .content.h-p-zero {
  padding: var(--normal-dist) 0;
}
pf-card:not(.clean).normal-padding > pf-content.v-p-zero,
.card:not(.clean).normal-padding > pf-content.v-p-zero,
pf-card:not(.clean).normal-padding .content.v-p-zero,
.card:not(.clean).normal-padding .content.v-p-zero,
pf-card > pf-content.v-p-zero,
pf-card .content.v-p-zero,
.card > pf-content.v-p-zero,
.card .content.v-p-zero {
  padding: 0 calc(var(--normal-dist) * 1.5);
}
pf-card:not(.clean).wide-padding > header,
.card:not(.clean).wide-padding > header {
  padding: var(--large-dist) calc(var(--large-dist) * 1.5);
}
pf-card:not(.clean).wide-padding > header.h-p-zero,
.card:not(.clean).wide-padding > header.h-p-zero {
  padding: var(--large-dist) 0;
}
pf-card:not(.clean).wide-padding > header.v-p-zero,
.card:not(.clean).wide-padding > header.v-p-zero {
  padding: 0 calc(var(--large-dist) * 1.5);
}
pf-card:not(.clean).wide-padding > pf-content,
.card:not(.clean).wide-padding > pf-content,
pf-card:not(.clean).wide-padding .content,
.card:not(.clean).wide-padding .content {
  padding: var(--large-dist) calc(var(--large-dist) * 1.5);
}
pf-card:not(.clean).wide-padding > pf-content.h-p-zero,
.card:not(.clean).wide-padding > pf-content.h-p-zero,
pf-card:not(.clean).wide-padding .content.h-p-zero,
.card:not(.clean).wide-padding .content.h-p-zero {
  padding: var(--large-dist) 0;
}
pf-card:not(.clean).wide-padding > pf-content.v-p-zero,
.card:not(.clean).wide-padding > pf-content.v-p-zero,
pf-card:not(.clean).wide-padding .content.v-p-zero,
.card:not(.clean).wide-padding .content.v-p-zero {
  padding: 0 calc(var(--large-dist) * 1.5);
}
pf-card:not(.clean).x-wide-padding > header,
.card:not(.clean).x-wide-padding > header {
  padding: var(--x-large-dist) calc(var(--x-large-dist) * 1.5);
}
pf-card:not(.clean).x-wide-padding > header.h-p-zero,
.card:not(.clean).x-wide-padding > header.h-p-zero {
  padding: var(--x-large-dist) 0;
}
pf-card:not(.clean).x-wide-padding > header.v-p-zero,
.card:not(.clean).x-wide-padding > header.v-p-zero {
  padding: 0 calc(var(--x-large-dist) * 1.5);
}
pf-card:not(.clean).x-wide-padding > pf-content,
.card:not(.clean).x-wide-padding > pf-content,
pf-card:not(.clean).x-wide-padding .content,
.card:not(.clean).x-wide-padding .content {
  padding: var(--x-large-dist) calc(var(--x-large-dist) * 1.5);
}
pf-card:not(.clean).x-wide-padding > pf-content.h-p-zero,
.card:not(.clean).x-wide-padding > pf-content.h-p-zero,
pf-card:not(.clean).x-wide-padding .content.h-p-zero,
.card:not(.clean).x-wide-padding .content.h-p-zero {
  padding: var(--x-large-dist) 0;
}
pf-card:not(.clean).x-wide-padding > pf-content.v-p-zero,
.card:not(.clean).x-wide-padding > pf-content.v-p-zero,
pf-card:not(.clean).x-wide-padding .content.v-p-zero,
.card:not(.clean).x-wide-padding .content.v-p-zero {
  padding: 0 calc(var(--x-large-dist) * 1.5);
}
pf-card:not(.clean).xx-wide-padding > header,
.card:not(.clean).xx-wide-padding > header {
  padding: var(--xx-large-dist) calc(var(--xx-large-dist) * 1.5);
}
pf-card:not(.clean).xx-wide-padding > header.h-p-zero,
.card:not(.clean).xx-wide-padding > header.h-p-zero {
  padding: var(--xx-large-dist) 0;
}
pf-card:not(.clean).xx-wide-padding > header.v-p-zero,
.card:not(.clean).xx-wide-padding > header.v-p-zero {
  padding: 0 calc(var(--xx-large-dist) * 1.5);
}
pf-card:not(.clean).xx-wide-padding > pf-content,
.card:not(.clean).xx-wide-padding > pf-content,
pf-card:not(.clean).xx-wide-padding .content,
.card:not(.clean).xx-wide-padding .content {
  padding: var(--xx-large-dist) calc(var(--xx-large-dist) * 1.5);
}
pf-card:not(.clean).xx-wide-padding > pf-content.h-p-zero,
.card:not(.clean).xx-wide-padding > pf-content.h-p-zero,
pf-card:not(.clean).xx-wide-padding .content.h-p-zero,
.card:not(.clean).xx-wide-padding .content.h-p-zero {
  padding: var(--xx-large-dist) 0;
}
pf-card:not(.clean).xx-wide-padding > pf-content.v-p-zero,
.card:not(.clean).xx-wide-padding > pf-content.v-p-zero,
pf-card:not(.clean).xx-wide-padding .content.v-p-zero,
.card:not(.clean).xx-wide-padding .content.v-p-zero {
  padding: 0 calc(var(--xx-large-dist) * 1.5);
}
pf-container.flow-grid,
pf-list.flow-grid > pf-viewport {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: var(--grid-cell-height);
  grid-auto-flow: row dense;
  grid-column-gap: 1em;
  grid-row-gap: var(--grid-row-gap);
}
pf-container.flow-grid > *,
pf-list.flow-grid > pf-viewport > * {
  grid-row: span var(--spanrow);
  margin-bottom: 1em;
  overflow-x: auto;
}
pf-container.flow-grid img,
pf-list.flow-grid > pf-viewport img {
  max-width: 100%;
}
@keyframes fadein-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomin-ani {
  from {
    top: 20%;
  }
}
:root {
  --btn-bg: var(--base-shade1);
  --btn-fg: var(--base-shade1-text);
  --btn-active: var(--base-shade2);
  --btn-active-text: var(--base-shade2-text);
}
pf-swipe.hor,
pf-swipe:not(.ver) {
  --tab-space: 1em;
}
pf-swipe.hor > nav#tabbar,
pf-swipe:not(.ver) > nav#tabbar {
  display: flex;
  z-index: 1;
  align-items: baseline;
  /*background-color: var(--base);
        color: var(--base-color);*/
}
pf-swipe.hor > nav#tabbar > pf-tab,
pf-swipe:not(.ver) > nav#tabbar > pf-tab {
  position: relative;
  font-weight: bold;
  font-size: var(--large-font-size);
}
pf-swipe.hor > nav#tabbar > pf-tab > span,
pf-swipe:not(.ver) > nav#tabbar > pf-tab > span {
  cursor: pointer;
}
pf-swipe.hor > nav#tabbar > pf-tab:not(.activated) > span:hover,
pf-swipe:not(.ver) > nav#tabbar > pf-tab:not(.activated) > span:hover {
  /*background: linear-gradient(to bottom, var(--accent), transparent 10px);*/
  color: var(--accent);
  opacity: 0.5;
}
pf-swipe.hor > nav#tabbar > pf-tab.activated > span,
pf-swipe:not(.ver) > nav#tabbar > pf-tab.activated > span {
  /*background: linear-gradient(to bottom, var(--accent) 5px, transparent 5px);*/
  color: var(--accent);
}
pf-swipe.hor > nav#tabbar > pf-tab:not(:first-child),
pf-swipe:not(.ver) > nav#tabbar > pf-tab:not(:first-child) {
  margin-left: var(--tab-space);
}
pf-swipe.hor > nav#tabbar > pf-tab:not(:first-child)::before,
pf-swipe:not(.ver) > nav#tabbar > pf-tab:not(:first-child)::before {
  position: absolute;
  left: calc(var(--tab-space) / -2 - 1px);
  top: 50%;
  transform: translateY(-50%);
  height: 1em;
  content: "";
  border-left: 1px dashed;
}
pf-swipe.hor.fill-tab > nav#tabbar > pf-tab,
pf-swipe:not(.ver).fill-tab > nav#tabbar > pf-tab {
  flex: 1;
  text-align: center;
}
pf-swipe.hor > pf-viewport > *:not(.activated),
pf-swipe:not(.ver) > pf-viewport > *:not(.activated) {
  display: none;
}
pf-swipe.ver {
  display: grid;
  grid-template-columns: auto 1fr;
}
pf-swipe.ver > nav {
  border-right: 2px solid;
  /*background-color: var(--base);
        color: var(--base-text);*/
}
pf-swipe.ver > nav > pf-tab {
  position: relative;
  display: block;
  margin-right: 1em;
}
pf-swipe.ver > nav > pf-tab:not(:first-child) {
  border-top: 1px dashed;
  padding-top: 1ex;
}
pf-swipe.ver > nav > pf-tab:not(:last-child) {
  padding-bottom: 1ex;
}
pf-swipe.ver > nav > pf-tab > span {
  cursor: pointer;
}
pf-swipe.ver > nav > pf-tab > span:hover {
  color: var(--accent);
}
pf-swipe.ver > nav > pf-tab.activated > span {
  color: var(--accent);
  font-weight: bold;
}
pf-swipe.ver > pf-viewport {
  /*background-color: var(--base);
        color: var(--base-text);*/
  padding-left: 1em;
}
pf-swipe.ver > pf-viewport > *:not(.activated) {
  display: none;
}
button {
  display: block;
  border: none;
  font-size: unset;
  font-weight: bold;
}
button:not(.flat) {
  padding: var(--x-small-dist) calc(var(--x-small-dist) * 1.75);
  border-radius: 5px;
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  box-shadow: 0 0 0px 1px var(--btn-bg), 0 0 1px 1px var(--btn-fg) inset;
}
button:not(.flat).default {
  --btn-bg: var(--accent);
  --btn-fg: var(--accent-text);
}
button:not(.flat):active {
  box-shadow: 0 0 1px var(--btn-bg);
  background-color: var(--btn-active);
  color: var(--btn-active-text);
}
button.flat {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: unset;
}
button.flat:hover {
  background-color: var(--accent);
  color: var(--accent-text);
}
button.flat:active {
  background-color: var(--btn-active);
  color: var(--btn-active-text);
}
button.flat > i.fas {
  display: block;
}
button:active,
button:focus {
  border: none;
  outline: none;
}
pf-container.overlayer.dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  animation: fadein-ani 0.25s;
}
pf-container.overlayer.dialog > pf-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  grid-template-rows: auto 1fr auto;
  animation: zoomin-ani 0.25s;
}
pf-container.overlayer.dialog > pf-card > footer {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  justify-content: center;
  padding-top: 0;
}
pf-container.overlayer.dialog > pf-card > footer:empty {
  display: none;
}
pf-container.overlayer.dialog.message > pf-card > pf-content#dlgContent,
pf-container.overlayer.dialog.prompt > pf-card > pf-content#dlgContent,
pf-container.overlayer.dialog.question > pf-card > pf-content#dlgContent {
  padding: var(--normal-dist);
}
pf-container.overlayer.dialog.prompt.textarea > pf-card {
  min-width: 50%;
  min-height: 50%;
}
pf-container.overlayer.dialog.prompt.textarea > pf-card > pf-content#dlgContent textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
pf-container.overlayer.dialog:not(.opened) {
  display: none;
}
pf-space {
  display: block;
  min-width: 1em;
}
input[type="text"],
input[type="password"],
textarea {
  border: none;
  border-bottom: 1px dashed;
}
input[type="text"]:active,
input[type="password"]:active,
textarea:active,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--accent);
}
pf-list.sep > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep > pf-viewport > *:not(:first-child) {
  border-top: 1px solid var(--base-shade1);
}
pf-list.sep.solid > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.solid > pf-viewport > *:not(:first-child) {
  border-top: 1px solid var(--base-shade1);
}
pf-list.sep.dashed > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.dashed > pf-viewport > *:not(:first-child) {
  border-top: 1px dashed var(--base-shade1);
}
pf-list.sep.dotted > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.dotted > pf-viewport > *:not(:first-child) {
  border-top: 1px dotted var(--base-shade1);
}
pf-list.sep.li-primary > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.li-primary > pf-viewport > *:not(:first-child) {
  border-top: 1px solid var(--primary);
}
pf-list.sep.solid.li-primary > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.solid.li-primary > pf-viewport > *:not(:first-child) {
  border-top: 1px solid var(--primary);
}
pf-list.sep.dashed.li-primary > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.dashed.li-primary > pf-viewport > *:not(:first-child) {
  border-top: 1px dashed var(--primary);
}
pf-list.sep.dotted.li-primary > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.dotted.li-primary > pf-viewport > *:not(:first-child) {
  border-top: 1px dotted var(--primary);
}
pf-list.sep.solid.li-accent > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.solid.li-accent > pf-viewport > *:not(:first-child) {
  border-top: 1px solid var(--accent);
}
pf-list.sep.dashed.li-accent > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.dashed.li-accent > pf-viewport > *:not(:first-child) {
  border-top: 1px dashed var(--accent);
}
pf-list.sep.dotted.li-accent > pf-viewport > pf-list-item:not(:first-child),
pf-list.sep.dotted.li-accent > pf-viewport > *:not(:first-child) {
  border-top: 1px dotted var(--accent);
}
:root {
  --base: white;
  --base-text: black;
  --base-shade1: #999;
  --base-shade1-text: white;
  --base-shade2: #ccc;
  --base-shade2-text: black;
  --base-shade3: #eee;
  --base-shade3-text: black;
  --primary: #4499cc;
  --primary-text: white;
  --accent: #44cc99;
  --accent-text: white;
  --base-font-size: 12pt;
  --small-font-size: 8pt;
  --large-font-size: 16pt;
  --x-large-font-size: 20pt;
  --xx-small-dist: 0.25ex;
  --x-small-dist: 0.5ex;
  --small-dist: 1ex;
  --normal-dist: 1.5ex;
  --large-dist: 1em;
  --x-large-dist: 2em;
  --xx-large-dist: 4em;
  --shadow: rgba(0, 0, 0, 0.15);
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--base);
  color: var(--base-text);
  font-size: var(--base-font-size);
}
.small-font {
  font-size: var(--small-font-size) !important;
}
.normal-font {
  font-size: var(--base-font-size) !important;
}
.large-font {
  font-size: var(--large-font-size) !important;
}
.x-large-font {
  font-size: var(--x-large-font-size) !important;
}
